# fly.toml app configuration file generated for matriculas on 2023-09-05T18:28:20-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "matriculas"
primary_region = "scl"

[build]

[env]
PHX_HOST = "matriculas.fly.dev"
PORT = "5000"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
