name: MATRICULA CI/CD
on: 
  push:
    branches:
      - 'master'
  workflow_dispatch:
env:
  DATABASE_URI_DEV: postgresql+psycopg2://postgres:mssql1Ipw@localhost:5432/matriculas
jobs:
  TEST_FLASK_APPLICATION:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: docker.io/library/postgres:15.4
        env:
          # POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          # POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          # POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: mssql1Ipw
          POSTGRES_DB: matriculas
        ports: ['5432:5432']

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install requirements
        run: | 
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          
      - name: Unittest models and routes
        run: |
          python -m unittest discover -s test/integration/models/ -v
          python3 -m unittest discover -s test/integration/routes/ -v



            






